# environment variables for database
DB_TYPE=
DB_HOST=
DB_NAME=
DB_CHARSET=
DB_PORT=
DB_USERNAME=
DB_PASSWORD=

# environment variables for mailer
MAIL_HOST=
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_PORT=
MAIL_RECEIVER=

# encrypt/decrypt secret key for defuse php
SECRET_KEY=

# JQuery Color Key (integrity value)
INTEGRITY=

# Password Reset Timer
PASSWORD_RESET_LIFETIME_MINUTES=