header {
    background: url("../images-videos/headerbkgd.jpg") no-repeat scroll 35% 55%;
    background-size: cover;
    position: relative;
}

header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
}

header img {
    opacity: .85;
}

/*@media only screen and (width < 1300px) {
    video {
        display: none;
    }
}*/

/*@media only screen and (width >= 576px) and (width <= 737px) {
    #logo {
        width: 45%;
    }
}

@media only screen and (width >= 330px) and (width <= 575px) {
    #logo {
        width: 55%;
    }
}

@media only screen and (width < 330px) {
    #logo {
        width: 70px;
    }
}*/

body::-webkit-scrollbar {
    width: 20px;
}

body::-webkit-scrollbar-track {
    box-shadow: inset 0 0 10px grey;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
    background-color: #0096FF;
    border-radius: 10px;
}

body::-webkit-scrollbar-thumb:hover {
    background-color: rgba(29, 82, 131, 0.9);
}

@media only screen and (width < 380px) {
    body::-webkit-scrollbar {
        display: none;
    }
}

@media only screen and (width <= 991px) {
    nav #useraccess {
        position: absolute;
        top: 0; 
    }
}

#clock_container {
    font-family: "Orbitron", sans-serif;
    font-weight: 500;
}

.blink {
    animation: blink 1s ease-in-out infinite;
}

@keyframes blink {
    0% {opacity: 0}
    100% {opacity: 1}
}


footer h6 {
    -webkit-text-stroke: .25px black;
}

#profilecon img {
    cursor: pointer;
}

#profilecon label {
    display: block;
    width: 100%;
    height: 100%;
}

#profilecon #profile-upload {
    display: none;
}