.card-body::-webkit-scrollbar {
        display: none;
}

.editable-data {
        cursor: pointer;
}

#paySheetCardCon .card-body::-webkit-scrollbar {
        display: none;
}

@media only screen and (width <= 765px) {
        #paySheetCardCon .card-body {
                overflow-x: scroll;
        }
}

@media only print {
        #paySheetCardCon > .card {
                border: none;
                margin: auto 0;
        }

        #paySheetCardCon .card-body {
                overflow-x: visible;
                width: 100%;
        }

        .navbar {
                display: none !important;
        }
}