.prodrvrbkgd {
    background: url("/public/images-videos/prodrvrbkgd.png") repeat fixed !important;
    background-size: 25% !important;
}

body::-webkit-scrollbar {
    display: none;
}

#logo {
    opacity: .85;
}

#form-container {
    background-color: rgba(150, 150, 150, 0.5);
    -webkit-backdrop-filter: blur(5px);
    -moz-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    border: 1px solid rgba(150, 150, 150, 0.5);
    border-radius: 5px;
    box-shadow: 0 0 10px 0;
}

a.link-primary:hover {
    color: rgba(246, 244, 241, .9) !important;
    text-decoration-color: rgba(246, 244, 241, .9) !important;
}