/*.newColor {
        background-image: repeating-linear-gradient(120deg, var(--dodger-blue) 33%, navy 75%);
        -webkit-background-clip: text;
        background-clip: text;
        color: transparent;
}


*/