<<<<<<< HEAD
.card-body::-webkit-scrollbar {
        display: none;  
=======
/*.carousel-control-prev,
.carousel-control-next{
        margin-top: 10rem;
        margin-right: 1rem;
}*/

.card-body::-webkit-scrollbar {
        display: none;
>>>>>>> fab14b08a45834e377c11c15bac6e33cfbaffeb4
}

.editable-data {
        cursor: pointer;
}

#paySheetCardCon .card-body::-webkit-scrollbar {
        display: none;
}

@media only screen and (width <= 765px) {
        #paySheetCardCon .card-body {
                overflow-x: scroll;
        }
}

@media only print {
        #paySheetCardCon > .card {
                border: none;
                margin: auto 0;
        }

        #paySheetCardCon .card-body {
                overflow-x: visible;
                width: 100%;
        }

        .navbar {
                display: none !important;
        }
}