@mixin body-bkgd-nite-mode($color: #343434) {
    background-image: none;
    background-repeat: none;
    background-color: $color;
}

@mixin header-nitemode() {
    background: url('../../images-videos/busnitepics/headernitebkgd.jpg') no-repeat scroll 5% 61%;
}

@mixin header-before-nitemode () {
    background-color: rgba(0, 0, 5, .35);
}

@mixin input-bkgd-color($color) {
    background-color: $color !important;
}

@mixin no-print-page () {
    @media print {
        visibility: hidden !important;
    }
}

@mixin no-background-page () {
    background: none !important;
}

@mixin link-active-color ($color) {
    color: $color !important;
}