$navbar-dark-color: white;
$enable-gradients: true;
$prodriver-clr: rgba(29, 82, 131, 0.9);
$prodriver-textarea-clr: rgba(255, 253, 208, .75);
$prodriver-celebrate-bkgd-clr: #ffd700;
$prodriver-statusdock-bkgd-clr: #E5E4E2;
$prodriver-statusdock-dark-clr: #363636;